@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 dark:bg-cyber-dark dark:text-cyber-text font-sans antialiased transition-colors duration-300;
  }
}

.cyber-card {
  @apply bg-cyber-light border border-slate-700 rounded-lg shadow-lg p-4;
}

.btn-primary {
  @apply bg-cyber-accent hover:bg-sky-500 text-white font-bold py-2 px-4 rounded transition-colors duration-200;
}